<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    
    {{{ body }}}

    <div id="app">
     {{ mymessage }}
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app = new Vue({
    el: '#app',
    data: {
      mymessage: 'Hello Vue!'
    }
  })

</script>
</html>